.signup-container {
    text-align: center;
    background-color: #FFF9F3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    color: #1b4d3e;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  p {
    color: #3e3e3e;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .signup-options {
    display: flex;
    gap: 70px;
    margin-top: 80px;
  }
  
  .signup-box {
    width: 200px;
    height: 220px;
    background-color: #F2F5DE;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .signup-box:hover {
    transform: scale(1.05);
  }
  
  .signup-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .signup-box p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #1B512D;
  }

 
  
  